@page "/readme"
@using Mc2.CrudTest.Domain
@inject HttpClient _http

<h1>Read me</h1>

<p>Read about this app.</p>

<div class="container-fluid">
    <h4>Index page</h4>

    <p>In index page you can access to a list of all customers.</p>
    <p>you can also remove or edit customers in this page.</p>

    <h4>Add page</h4>

    <p>You can add a new customer in add page and send it to database.</p>
</div>

@code {


}
